@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	body {
		@apply cursor-default bg-neutral-grey50 text-neutral-text text-base font-light overflow-hidden;
	}

	a {
		@apply text-black hover:text-primary transition-all duration-200;
	}
}

#batLogo {
	min-height: 100vh;
	min-width: 100vw;
}
#batLogoPath {
	transform-origin: center center;
	transform: scale(0) translate(calc(50vw - 300px), calc(50vh - 120px));

	-webkit-transition: all 500ms ease-in-out;
	-moz-transition: all 500ms ease-in-out;
	-ms-transition: all 500ms ease-in-out;
	-o-transition: all 500ms ease-in-out;
	transition: all 500ms ease-in-out;
}

#batMasked {
	clip-path: url(#batLogoPath);
	-webkit-clip-path: url(#batLogoPath);
}

.bat-scale-up {
	-webkit-animation: scale-up 800ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: scale-up 800ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

.bat-scale-down {
	-webkit-animation: scale-down 600ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
	animation: scale-down 600ms cubic-bezier(0.39, 0.575, 0.565, 1) both;
}

@-webkit-keyframes scale-up {
	0% {
		-webkit-transform: scale(0)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(0) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
	100% {
		-webkit-transform: scale(6)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(6) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
}
@keyframes scale-up {
	0% {
		-webkit-transform: scale(0)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(0) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
	100% {
		-webkit-transform: scale(6)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(6) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
}

@-webkit-keyframes scale-down {
	0% {
		-webkit-transform: scale(6)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(6) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
	100% {
		-webkit-transform: scale(0)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(0) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
}
@keyframes scale-down {
	0% {
		-webkit-transform: scale(6)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(6) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
	100% {
		-webkit-transform: scale(0)
			translate(calc(50vw - 300px), calc(50vh - 120px));
		transform: scale(0) translate(calc(50vw - 300px), calc(50vh - 120px));
	}
}

/*----- FLIP BOOK - Open -----*
.stf__parent {
	background-size: cover;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.5);
	display: none;
}
.page {
	background-color: #fdfaf7;
	border: solid 1px #c2b5a3;
	color: #785e3a;
	overflow: hidden;
	padding: 20px;
}
.page .page-content {
	align-items: stretch;
	display: flex;
	flex-direction: column;
	height: 100%;
	justify-content: space-between;
	width: 100%;
}
.page .page-content .page-header {
	font-size: 100%;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
}
.page .page-content .page-image {
	background-position: center center;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
}
.page .page-content .page-text {
	border-top: solid 1px #f4e8d7;
	box-sizing: border-box;
	flex-grow: 1;
	font-size: 80%;
	height: 100%;
	margin-top: 10px;
	padding-top: 10px;
	text-align: justify;
}
.page .page-content .page-footer {
	border-top: solid 1px #f4e8d7;
	color: #998466;
	font-size: 80%;
	height: 30px;
}
.page.--left {
	border-right: 0;
	box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right {
	border-left: 0;
	box-shadow: inset 7px 0 30px -7px rgba(0, 0, 0, 0.4);
}
.page.--right .page-footer {
	text-align: right;
}
.page.hard {
	background-color: #f2e8d9;
	border: solid 1px #998466;
}
.page.page-cover {
	background-color: #e3d0b5;
	border: solid 1px #998466;
	color: #785e3a;
}
.page.page-cover h2 {
	font-size: 210%;
	padding-top: 50%;
	text-align: center;
}
.page.page-cover.page-cover-top {
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
		-2px 0 5px 2px rgba(0, 0, 0, 0.4);
}
.page.page-cover.page-cover-bottom {
	box-shadow: inset 0px 0 30px 0px rgba(36, 10, 3, 0.5),
		10px 0 8px 0px rgba(0, 0, 0, 0.4);
}
/*----- FLIP BOOK - Close -----*/

#__next .video video {
	height: 100% !important;
	left: 0 !important;
	max-width: none !important;
	object-fit: cover !important;
	overflow: hidden !important;
	top: 0 !important;
	width: 100% !important;
}

.show-this {
	opacity: 1 !important;
}

.flip-card {
	width: 200px;
	height: 200px;
	perspective: 1000px;
}

#bg-flip-right-inner {
	width: 100%;
	height: 100%;
	transform-style: preserve-3d;
}

#bg-flip-right-front,
#bg-flip-right-back {
	position: absolute;
	width: 100%;
	height: 100%;
	-webkit-backface-visibility: hidden !important;
	backface-visibility: hidden !important;
}

#bg-flip-right-back {
	background-color: #000000;
	color: #fff;
	transform: rotateY(180deg) !important;
}
